<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
    <head>
        <title>Skapa Anledning</title>
    </head>
    <body>
    <main layout:fragment="content" class="p-lg-3">
                <h2>Skapa Anledning</h2>
                <form action="/anledningar/create" th:object="${anledning}" method="post">
                    <div class="form-group">
                        <label for="namn">Nyckel</label>
                        <input type="text" class="form-control" name="namn" id="namn" />
                        <div class="error" th:if="${#fields.hasErrors('namn')}" th:errors="*{namn}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input type="text" class="form-control"  name="text" id="text" />
                        <div class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="meddelandeSv">Meddelande (sv)</label>
                        <input type="text" class="form-control" name="meddelandeSv" id="meddelandeSv" />
                        <div class="error" th:if="${#fields.hasErrors('meddelandeSv')}" th:errors="*{meddelandeSv}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="meddelandeEn">Meddelande (en)</label>
                        <input type="text" class="form-control" name="meddelandeEn" id="meddelandeEn" />
                        <div class="error" th:if="${#fields.hasErrors('meddelandeEn')}" th:errors="*{meddelandeEn}">Name Error</div>
                    </div>

                    <button type="submit" class="btn btn-success">Save</button>
                    <a th:href="@{'/anledningar/list'}" class="btn btn-secondary">Cancel</a>
                </form>
        </main>
    </body>
</html>
