<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Uppdatera Anledning</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/anledningar/list" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Anledningar</a>
                </h3>
                <h2>Uppdatera Anledning</h2>
                <form action="/anledningar/update" th:object="${anledningPost}" method="post">
                    <div class="form-group">
                        <label for="namn">Nyckel</label>
                        <input type="text" class="form-control" name="namn" th:value="${anledningPost.namn}" />
                        <div class="error" th:if="${#fields.hasErrors('namn')}" th:errors="*{namn}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input type="text" class="form-control" name="text" th:value="${anledningPost.text}" />
                        <div class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="meddelande">Meddelande</label>
                        <input type="text" class="form-control" name="meddelande" th:value="${anledningPost.meddelande}" />
                        <div class="error" th:if="${#fields.hasErrors('meddelande')}" th:errors="*{text}">Name Error</div>
                    </div>
                    <input type="hidden" name="id" th:value="${anledningPost.id}" />
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
