<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
    <head>
        <title>Anledningar</title>
        <script type="text/javascript" class="init">

          $(document).ready(function() {
            $('#product-table').DataTable();
          } );

        </script>
    </head>
    <body>
            <main layout:fragment="content" class="p-lg-3">
                <h3>
                    <a href="/anledningar/create" class="btn btn-primary"><span class="oi oi-plus" aria-hidden="true"></span> Anledning</a>
                </h3>
                <h2>Anledningar</h2>
                <div>
                    <table class="table table-striped table-bordered" id="product-table">
                        <thead>
                            <tr>
                                <th>Nyckel</th>
                                <th>Text</th>
                                <th>Meddelande (sv)</th>
                                <th>Meddelande (en)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="anledning : ${anledningar}">
                                <td><a th:text="${anledning.namn}" th:href="@{'/anledningar/show/' + ${anledning.id}}"></a></td>
                                <td th:text="${anledning.text}"></td>
                                <td th:text="${anledning.meddelandeSv}"></td>
                                <td th:text="${anledning.meddelandeEn}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
    </body>
</html>
