<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Skapa Kanal</title>
    </head>
    <body>
    <main layout:fragment="content" class="p-lg-3">
                <h2>Skapa Kanal</h2>
                <form action="/kanaler/create" th:object="${kanal}" method="post">
                    <div class="form-group">
                        <label for="namn">Nyckel</label>
                        <input type="text" class="form-control" name="namn" id="namn" />
                        <div class="error" th:if="${#fields.hasErrors('namn')}" th:errors="*{namn}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input type="text" class="form-control" name="text" id="text" />
                        <div class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name Error</div>
                    </div>

                    <button type="submit" class="btn btn-success">Save</button>
                    <a th:href="@{'/kanaler/list'}" class="btn btn-secondary">Cancel</a>
                </form>
        </main>
    </body>
</html>
