<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
    <head>
        <title>Uppdatera Kanal</title>
    </head>
    <body>
    <main layout:fragment="content" class="p-lg-3">
                <h2>Uppdatera Kanal</h2>
                <form action="/kanaler/update" th:object="${kanal}" method="post">
                    <div class="form-group">
                        <label for="namn">Nyckel</label>
                        <input type="text" class="form-control" name="namn" id="namn" th:value="${kanal.namn}" />
                        <div class="error" th:if="${#fields.hasErrors('namn')}" th:errors="*{namn}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input type="text" class="form-control" name="text" id="text" th:value="${kanal.text}" />
                        <div class="error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name Error</div>
                    </div>
                    <input type="hidden" name="id" th:value="${kanal.id}" />
                    <button type="submit" class="btn btn-success">Save</button>
                    <a th:href="@{'/kanaler/list'}" class="btn btn-secondary">Cancel</a>
                </form>
        </main>
    </body>
</html>
