<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
    <head>
        <title>Kanaler</title>
        <script type="text/javascript" class="init">

          $(document).ready(function() {
            $('#product-table').DataTable();
          } );

        </script>
    </head>
    <body>

    <main layout:fragment="content" class="p-lg-3">
                <h3>
                    <a href="/kanaler/create" class="btn btn-primary"><span class="oi oi-plus" aria-hidden="true"></span> Kanal</a>
                </h3>
                <h2>Kanaler</h2>
                <div>
                    <table class="table table-striped table-bordered" id="product-table">
                        <thead>
                            <tr>
                                <th>Nyckel</th>
                                <th>Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="kanal : ${kanaler}">
                                <td><a th:text="${kanal.namn}" th:href="@{'/kanaler/show/' + ${kanal.id}}"></a></td>
                                <td th:text="${kanal.text}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </main>
    </body>
</html>
