<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Visa kanalPost</title>
    </head>
    <body>
    <main layout:fragment="content" class="p-lg-3">

                <h2 th:text="${kanal.text}"></h2>
                <dl class="list">
                    <dt>Nyckel</dt>
                    <dd th:text="${kanal.namn}"></dd>
                </dl>
                <form action="/kanaler/delete" method="post">
                    <input type="hidden" name="id" th:value="${kanal.id}" />
                    <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Är du säker?');" />
                        <a th:href="@{'/kanaler/edit/' + ${kanal.id}}" class="btn btn-warning">Edit</a>
                    <a th:href="@{'/kanaler/list'}" class="btn btn-secondary">Cancel</a>
                </form>
        </main>
    </body>
</html>
