<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Visa kanalPost</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/kanaler/list" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Kanaler</a>
                </h3>
                <h2 th:text="${kanalPost.text}"></h2>
                <dl class="list">
                    <dt>Nyckel</dt>
                    <dd th:text="${kanalPost.namn}"></dd>
                </dl>
                <form action="/kanaler/delete" method="post">
                    <input type="hidden" name="id" th:value="${kanalPost.id}" />
                    <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Är du säker?');" />
                        <a th:href="@{'/kanaler/edit/' + ${kanalPost.id}}" class="btn btn-warning">Edit</a></h2>
                </form>
            </div>
        </div>
    </body>
</html>
