<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Uppdatera driftstorning</title>
        <script type="text/javascript" class="init">

          $(document).ready(function() {
            $('#tidigareMeddelandeSv').on('change', function(){
              $('#meddelandeSv').val($(this).val());
            });

            $('#tidigareMeddelandeEn').on('change', function(){
              $('#meddelandeEn').val($(this).val());
            });
          } );

        </script>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/list" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Driftstörning</a>
                </h3>
                <h2>Uppdatera driftstörning</h2>
                <form action="/update" th:object="${driftstorning}" method="post">
                    <div class="form-group">
                        <label for="kanalPost">Kanal:</label>
                        <select class="form-control" id="kanalPost" name="kanalPost">
                            <option th:each="kanalPost : ${kanaler}" th:selected="${driftstorning.kanalPost.id==kanalPost.id}" th:value="${kanalPost.id}" th:text="${kanalPost.text}">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('kanalPost')}" th:errors="*{kanalPost}">Name Error</div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="startdatum">Startdatum</label>
                            <input type="date" class="form-control" name="startDatum" id="startdatum" th:value="${driftstorning.startDatum}" />

                        </div>
                        <div class="form-group col-md-6">
                            <label for="starttid">Starttid</label>
                            <input type="time" class="form-control" name="startTid" id="starttid" th:value="${driftstorning.startTid}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="slutdatum">Startdatum</label>
                            <input type="date" class="form-control" name="slutDatum" id="slutdatum" th:value="${driftstorning.slutDatum}" />

                        </div>
                        <div class="form-group col-md-6">
                            <label for="sluttid">Starttid</label>
                            <input type="time" class="form-control" name="slutTid" id="sluttid" th:value="${driftstorning.slutTid}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anledningPost">Anledning</label>
                        <select class="form-control" id="anledningPost" name="anledningPost">
                            <option th:each="anledningPost : ${anledningar}" th:selected="${driftstorning.anledningPost.id==anledningPost.id}" th:value="${anledningPost.id}" th:text="${anledningPost.text}">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('anledningPost')}" th:errors="*{anledningPost}">Name Error</div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="meddelandeSv">Meddelande på svenska</label>
                            <input type="text" class="form-control" id="meddelandeSv" th:field="*{meddelandeSv}" />

                        </div>
                        <div class="form-group col-md-4">
                            <label for="tidigareMeddelandeSv">Tidigare meddelanden</label>
                            <select class="form-control" id="tidigareMeddelandeSv">
                                <option value="">--Välj--</option>
                                <option th:each="meddelande : ${tidigareMeddelandenSv}" th:value="${meddelande}" th:text="${meddelande}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="meddelandeSv">Meddelande på engelska</label>
                            <input type="text" class="form-control" id="meddelandeEn" th:field="*{meddelandeEn}" />

                        </div>
                        <div class="form-group col-md-4">
                            <label for="tidigareMeddelandeEn">Tidigare meddelanden</label>
                            <select class="form-control" id="tidigareMeddelandeEn">
                                <option value="">--Välj--</option>
                                <option th:each="meddelande : ${tidigareMeddelandenEn}" th:value="${meddelande}" th:text="${meddelande}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="id" th:value="${driftstorning.id}" />
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
