<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Driftstörning</title>
        <script type="text/javascript" class="init">

          $(document).ready(function() {
            $('#product-table').DataTable();
          } );

        </script>
    </head>
    <body>

        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Driftstörning</a>
                </h3>
                <h2>Driftstörning</h2>
                <div>
                    <table class="table, display" id="product-table">
                        <thead>
                            <tr>
                                <th>Kanal</th>
                                <th>Start</th>
                                <th>Slut</th>
                                <th>Anledning</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="driftstorning : ${driftstorningList}">
                                <td><a th:text="${driftstorning.kanalPost.text}" th:href="@{'/show/' + ${driftstorning.id}}"></a></td>
                                <td th:text="${#strings.defaultString(driftstorning.startDatum, '') + ' ' + driftstorning.startTid}"></td>
                                <td th:text="${#strings.defaultString(driftstorning.slutDatum, '') + ' ' + driftstorning.slutTid}"></td>
                                <td th:text="${driftstorning.anledningPost.text}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
