<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Visa Driftstörning</title>
    </head>
    <body>
    <main layout:fragment="content" class="p-lg-3">
            <h2 th:text="${driftstorning.kanalPost.text}"></h2>
            <dl class="list">
                <dt>Nivå</dt>
                <dd th:text="${driftstorning.niva}"></dd>
                <dt>Start</dt>
                <dd th:text="${#strings.defaultString(driftstorning.startDatum, '') + ' ' + driftstorning.startTid}"></dd>
                <dt>Slut</dt>
                <dd th:text="${#strings.defaultString(driftstorning.slutDatum, '') + ' ' + driftstorning.slutTid}"></dd>
                <dt>Anledning</dt>
                <dd th:text="${driftstorning.anledningPost.text}"></dd>
                <dt>Meddelande på svenska</dt>
                <dd th:text="${driftstorning.meddelandeSv}"></dd>
                <dt>Meddelande på engelska</dt>
                <dd th:text="${driftstorning.meddelandeEn}"></dd>
            </dl>
            <form action="/delete" method="post">
                <input type="hidden" name="id" th:value="${driftstorning.id}" />
                <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Är du säker?');" />
                <a th:href="@{'/edit/' + ${driftstorning.id}}" class="btn btn-warning">Edit</a>
                <a th:href="@{'/list'}" class="btn btn-secondary">Cancel</a>
            </form>
        </main>
    </body>
</html>
